<%
let jsFiles = locals.js || []
jsFiles = jsFiles.concat(site.includes.header.js)

let cssFiles = locals.css || []
cssFiles = cssFiles.concat(site.includes.header.css)

if(typeof title === 'undefined') title = site.title
%><!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title><%-title%></title>

    <!-- Bootstrap core CSS -->
    <link href="/~panda/assets/lib/bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/~panda/assets/css/site.css" rel="stylesheet" />
    <% cssFiles.forEach(function(item){ %>
    <link href="<%-item%>" rel="stylesheet" />
    <% }) %>
    <% jsFiles.forEach(function(item){ %>
    <script type="text/javascript" src="<%-item%>"></script>
    <% }) %>
  </head>
  