<%
if(typeof js === 'undefined') js = []
if(typeof css === 'undefined') css = []
js = site.includes.footer.js.concat(js)
css = site.includes.footer.css.concat(css)
%>
    
    <script src="/~panda/assets/js/jquery-3.4.1.min.js"></script>
    <script src="/~panda/assets/lib/bootstrap-4.4.1-dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <!--<script type="text/javascript" src="/assets/lib/panda/panda.js"></script>-->
    <script type="text/javascript" src="/~panda/assets/js/site.js"></script>

    <% css.forEach(function(item){ %>
    <link href="<%-item%>" rel="stylesheet" />
    <% }) %>
    <% js.forEach(function(item){ %>
    <script type="text/javascript" src="<%-item%>"></script>
    <% }) %>
    
</body>
</html>