<%
if(typeof title === 'undefined') title = ''
%><!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title><%-site.title%></title>

    <!-- Bootstrap core CSS -->
<link href="/~panda/assets/lib/bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
<link href="/~panda/assets/css/site.css" rel="stylesheet" />
  </head>
  <%- include('/inc/nav') %>
  