<%- include('/inc/header', {}) %>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Welcome to Panda</h1>
  <p class="lead">
    
  </p>
  
  <img src="/~panda/assets/img/stephane-yaich-panda-unsplash.jpg" style="width:80vw;" />
</div>

<%- include('/inc/footer', {}) %>